*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: black;
  
}



.box
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

h1,h2
{
    color: white;
    z-index: 1;
}

.box::before
{
    content: '' ;
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#fb0f32, #00ECB2);
    animation: luz 2s linear infinite;
}


@keyframes luz
{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}


.box::after
{
    content: '';
    position: absolute;
    inset: 3.5px;
    background: black;
    border-radius: 16px;
}